# Dependencias
node_modules
.pnpm-store

# Build
dist
build

# Git
.git
.gitignore

# Logs
*.log

# Editor
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local

# Docker files
Dockerfile
Dockerfile.dev
docker-compose.yml
.dockerignore

# Docs
README.md
LICENSE