# Dependencias
node_modules/
.pnpm-store/

# Build
dist/
dist-ssr/
*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo
.DS_Store

# Environment
.env
.env.local
.env.*.local

# Testing
coverage/

# OS
Thumbs.db